<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICalculator" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/WcfGettingStartedTutorial/CalculatorService/"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICalculator"
                contract="CalculatorServiceReference.ICalculator" name="NetNamedPipeBinding_ICalculator">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>